body {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.logo {
    width: 20rem;
    margin: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: rgba(243, 248, 255, 0.3);
    width: min(90%, 400px);
    padding: 1.5rem;
    border-radius: 2rem;
    border: 2px solid rgba(243, 248, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
}

form h1 {
    text-align: center;
    text-decoration: underline;
}

form .error {
    text-align: center;
    color: red;
    font-weight: bold;
}

form input {
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0,0,0,0.2);
}
form input:focus {
    outline: none;
    border-color: #1D72EF;
    box-shadow: 0 0 0 2px rgba(29,114,239,0.3);
}

form input,
form .buttons {
    width: 100%;
}
form .buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}
form .buttons button {
    background-color: rgba(243, 248, 255, 0.3);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 2px solid rgba(243, 248, 255, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    transition: .3s;
}
form .buttons button.submit:hover,
form .buttons button.register:hover,
form .buttons button.login:hover {
    transform: scale(1.1);
    border: 0 rgba(243, 248, 255, 0.7);
}
form .buttons button.submit:hover {
    background-color: #1D72EFB3;
    color: white;
}
form .buttons button.register:hover,
form .buttons button.login:hover {
    background-color: #2CF376B3;
}
form .remember .remember {
    width: min-content;
}


form h1,
form p,
form label {
    margin: 0;
}



@media (max-width: 480px) {
    form .buttons {
        flex-direction: column;
        gap: 0.5rem;
    }
}